.container {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
  }
img {
    max-width: 100%;
    height: auto;
  }
h3 {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }